* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 2rem 0;
}

body {
  font-family: "Jua", sans-serif;
  font-size: 10px;
}

.main_container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #e7e7e7;
}

.header_title {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #e53170;
  font-weight: 800;
}

p {
  font-size: 1rem;
}

/* FINE SEZIONE HADER */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.firstRow {
  background-color: #b9b9b9;
  margin-top: 2rem;
  height: 100px;
}

/* .firstRow div:not(:last-child) {
  margin-right: 0.5rem;
} */

h2,
p {
  color: white;
}

h2 {
  text-transform: uppercase;
}

a:link {
  color: #1286d3;
}

.firstRow_boxOne {
  background-color: #141414;
  width: calc((100% / 3) - 0.5rem);
}

.firstRow_boxTwo {
  background-color: rgb(129, 127, 255);
  width: calc((100% / 3) - 0.5rem);
  height: 130px;
}

.firstRow_boxThree {
  background-color: rgb(255, 127, 223);
  width: calc(100% / 3);
  height: 130px;
}

.firstRow_boxOne,
.firstRow_boxTwo,
.firstRow_boxThree {
  float: left;
}

/* BOX ONE */
.firstRow_boxOne-img,
.firstRow_boxOne-description {
  float: left;
}

.firstRow_boxOne-img {
  width: 100px;
}
.firstRow_boxOne-description {
  line-height: 24px;
  padding: 15px 0px 0px 17px;
}
